* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container {
    margin: auto;
    width: 50%;
}

#form {
    position: fixed; bottom: 0; left: 0; right: 0; height: 3rem; box-sizing: border-box; display: flex; padding: 5px; color: transparent;
    }

.users {
    float:left;
    width: 10%;
    border-radius: 15px;
    margin: 5px;
    position: fixed;
    top: 100px;
    text-align: center;
    
}

.users li {
    background-color: burlywood;
    padding: 10px;
    margin-bottom: 5px;
    list-style-type: none;
    
}

.room-name {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    background-color:yellowgreen;
    padding: 5px;
    border-radius: 5px;
}

.my-container .list-group li {
    background-color: aqua;
    margin-bottom: 5px;
}

#chat-users {
 height: 300px;
 overflow: auto;   
}
